.header_top {
  padding-top: 20px;
  padding-bottom: 12px;
}
.header_logo {
  float: left;
  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 206px;
  }
}
.header_schedule {
  float: left;
  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 241px;
    margin-left: 90px;
  }
}
.header_phones {
  float: right;
  text-align: right;
  @media screen and (min-width: 1200px) {
    float: left;
    width: 100%;
    max-width: 360px;
    margin-left: 50px;
  }
}
.header_compare {
  float: left;
  @media screen and (min-width: 1200px) {
    float: right;
    width: 100%;
    max-width: 168px;
    margin-left: 25px;
  }
}
.header_menu__list {
  font-size: 0;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.header_menu__link {
  border-bottom: 1px solid rgb(238, 238, 238);
  width: 100%;
  display: inline-block;
  font-family: "Arsenal";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
  padding: 12px 0;
  &:hover {
    background-color: #fdec6b;
    transition: .5s;
  }
  @media screen and (min-width: 1200px) {
    background-color: #fbd008;
    opacity: 0.95;
    padding: 16px 14px;
  }
}
.header_menu__link.organisation {
  @media screen and (min-width: 1200px) {
    padding-left: 10px;
  }
}
.header_menu__link.contacts {
  @media screen and (min-width: 1200px) {
    padding-right: 22px;
  }
}
.header_menu__link.prices {
  @media screen and (min-width: 1200px) {
    padding-left: 10px;
  }
}
.header_menu__link.arrowed:after {
  content: '';
  position: absolute;
  background: url(/img/main_arrow.png) 0 0 no-repeat;
  width: 9px;
  height: 6px;
  top: 18px;
  right: 50px;
  @media screen and (min-width: 1200px) {
    position: relative;
    margin-left: 4px;
    margin-bottom: 3px;
    display: inline-block;
    right: 15px;
    top: 25px;
  }
}
.header_menu__link.active_link {
  @media screen and (min-width: 1200px) {
    background-color: #616161;
    color: #fff;
    &:after {
      background: url(/img/main_arrow_white.png) 0 0 no-repeat;
    }
  }
}
.header_menu {
  position: absolute;
  background: #fff;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  padding: 38px 0 20px 0;
}
.close_btn {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: url(/img/close_btn.png) 0 0 no-repeat;
}
.connector {
  display: none;
  position: absolute;
  height: 5px;
  width: 100%;
  margin-bottom: -5px;
}
.header_menu__item {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
  &:last-child{
    border: 0;
  }
  &:nth-child(1) a {
    @media screen and (min-width: 1200px) {
      padding: 16px 10px 16px 20px;
    }
  }
  &:nth-child(2) a {
    @media screen and (min-width: 1200px) {
      padding: 16px 13px 16px 13px;
    }
    &:after {
      margin-left: 2px;
    }
  }
  &:nth-child(3) .header_menu__link {
    @media screen and (min-width: 1200px) {
      padding: 16px 11px 16px 11px;
    }
  }
  &:nth-child(3):hover {
    @media screen and (min-width: 1200px) {
      .header_submenu, .connector {
        display: block;
      }
    }
  }
  &:nth-child(3) {
    position: relative;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    border: 0;
    padding: 0;
  }
}
.header_submenu {
  display: block;
  width: 100%;
  background-color: #fff;
  @media screen and (min-width: 1200px) {
    display: none;
    width: 308px;
    padding: 14px 29px 20px 29px;
    position: absolute;
    top: 55px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(69, 65, 64, 0.35);
    border-bottom: 3px solid #434040;
    z-index: 9999;
  }
}
.header_submenu__link {
  width: 100%;
  display: inline-block;
  font-family: "Arsenal";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
  &:hover {
    color: #298fde;
    transition: .2s;
  }
  @media screen and (min-width: 1200px) {
    line-height: 36px;
  }
}
.header_submenu__item {
  &:last-child {
    border: 0;
  }
  @media screen and (min-width: 1200px) {
    border-bottom: 1px solid rgb(238, 238, 238);
  }
}
.header_schedule__descr {
  font-family: "ArialRegular";
  color: #999;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.header_schedule__time {
  font-family: "ArialRegular";
  color: #333;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.header_phones__number {
  color: #333;
  font-family: "ArialRegular";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  span {
    font-family: "ArialBold";
    font-weight: 700;
    line-height: 22px;
  }
}
.header_info {
  margin-bottom: 18px;
}
.header_compare__callback {
  margin-top: 25px;
}
.button.button_blue {
  padding: 14px 16px;
  font-size: 12px;
  display: inline-block;
}
.hamburger {
  color: #333;
  font-family: "ArialBold";
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  outline: 0;
  opacity: 0.95;
  display: inline-block;
  background-color: #fbd008;
  padding: 15px 39px 17px 62px;
  margin: 0 auto;
  position: relative;
  margin-left: -2px;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 3px solid #333;
  width: 100%;
  transition: 0.55s;
  width: 21px;
  height: 15px;
  left: 30px;
}
.menu-top {
  top: 14px;
}
.menu-middle {
  top: 20px;
}
.menu-bottom {
  top: 26px;
}