.content-wrapper{
	max-width: 1144px;
	width: 100%;
	padding-top: 40px;
}
.leftsidebar{	
	max-width: 264px;
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	background-color: white;
	border: 1px solid #ddd;
	padding: 0px 15px;
	margin-bottom: 20px;
	@media only screen and (min-width : 992px) {
		float: left;
		
	}
}
@media only screen and (min-width : 992px) {
	.leftsidebar .leftsidebar__box:nth-child(2){
		margin-bottom: 27px;	
	}
	.leftsidebar .leftsidebar__box:nth-child(3){
		margin-bottom: 35px;	
	}
	.leftsidebar .leftsidebar__box:nth-child(4){
		margin-bottom: 27px;	
	}
	.leftsidebar .leftsidebar__box:nth-child(5){
		margin-bottom: 30px;		
	}
	.leftsidebar .leftsidebar__box:nth-child(6){
		margin-bottom: 27px;	
	}	
}
.leftsidebar .leftsidebar__box:nth-child(5){
	.leftsidebar__block{
		.checkbox{
			margin-bottom: 5px;
		}
		.checkbox__label-yellow{
			max-width: 160px;
		}
	}
}
.leftsidebar .leftsidebar__box:nth-child(7){
	margin-bottom: 27px;	
}
.leftsidebar__cap, .leftsidebar__mobilebutton{
	color: #333;
	font-family: "ArialBold";
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	border-bottom: 2px solid #d5d5d5;
	display: block;
	position: relative;
	padding-bottom: 6px;
	margin: 18px 0 14px 0;
	cursor: pointer;
	&:after{
		content: "";
		position: absolute;
		top: 4px;
		right: 6px;
		width: 10px;
		height: 10px;
		background: url("../img/sidebar1.png")no-repeat center;
	}
}
.leftsidebar__cap_active{
	&:after{
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-o-transform:rotate(180deg);
		transform:rotate(180deg);
	}
}
.leftsidebar__block{
	.checkbox{
		margin-bottom: 1.5px;
	}
}

.leftsidebar__block{
	display: none;
}
.sidebar__priceinput{
	text-align: center;
	b{
		color: #333;
		font-family: "ArialRegular";
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
		display: inline-block;
	}
	input{
		width: 102px;
		height: 30px;
		color: #333;
		font-family: "ArialRegular";
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		background-color: white;
		outline: none;
		border: 0;
		text-align: center;
		padding: 0;
	}
	.sidebarchangeprice{
		float: left;
		border: 2px solid #298fde;
	}
	.sidebartotalprice{
		float: right;
		border: 1px solid #ccc;
		color: #666666;
	}
}
// styles rangeslider

.rangeslidr{
	position: relative;
	max-width: 250px;
	width: 100%;
	margin-top: -10px;
	margin-bottom: 10px;
}
.irs-line, .irs-line-left, .irs-line-mid, .irs-line-right, .irs-bar{
	height: 6px;
}
.irs-slider{
	background-position: initial;
}
.irs-slider.state_hover, .irs-slider:hover{
	background-position: initial;
}
.irs-bar{
	background-position: initial;
}
.irs-line-mid, .irs-line-left, .irs-line-right, .irs-bar, .irs-bar-edge, .irs-slider{
	background: #298fde;
}
.irs-slider{
	background: #585462;
	border: 2px solid #d4d7e2;
	width: 22px;
	height: 22px;
	top: 17px;
	border-radius: 50%;
}
/////////////end range////////////


.leftsidebar__button{
	margin-bottom: 21px;
	a{
		color: white;
		font-family: "ArialRegular";
		font-size: 14px;
		font-weight: 400;
		line-height: 31px;
		text-align: center;
		padding: 0 10px;
		display: inline-block;
		text-transform: uppercase;
		background-color: #298fde;
		transition:0.4s;
		&:hover{
			transition:0.4s;
			background-color: #fbd214;
		}
	}
}


.leftsidebar__mobilebutton{
	display: block;
	border-bottom: 0;
	margin: 11px 0;
	padding-bottom: 0;
	@media only screen and (min-width : 992px) {
		display: none;
	}
}
.leftsidebar__box,.leftsidebar__button{
	display: none;
	@media only screen and (min-width : 992px) {
		display: block;
	}
}
////////////////////

.rightcontent{
	
	width: 100%;
	float: right;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;	
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: column;
	flex-wrap:wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	@media only screen and (min-width : 992px) {
		width: 70%;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 848px;
		width: 100%;
	}
	.tovar-item{
		display: inline-block;
		margin-bottom: 24px;	
		max-height: 370px;
		width: 100%;
		z-index: inherit;		
	}
	.tovar-item__img{
		border: 3px solid transparent;
		border-bottom: 1px solid #eeeeee;
	}
}
.tovar-item__active{
	max-height: none !important; 
	border: 0px solid transparent;
	&:hover{
		border: 0px solid transparent;
	}
	.tovar-item__saletxt, .tovar-item__new, .tovar-item__hit{
		left: 0;
	}
	.tovar-item__img{
		border: 3px solid #fbd214;
		border-bottom: 1px solid #eeeeee;
	}
	.tovar-item__txtbox{
		position: absolute;
		top:198px;
		left:0;
		background-color: #fff;
		width: 100%;
		z-index: 99;
		border: 3px solid #fbd214;
		border-top: 0;		
	}
}



// product ======================




.product__galery{
	h1{

	}
}

.product__galery_leftbox{
	// max-width: 459px;
	width: 100%;
	display: inline-block;
	float: left;
	@media only screen and (min-width : 770px) {
		max-width: none;
		width: 55%;
	}
	@media only screen and (min-width : 992px) {
		width: 50%;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 459px;
		width: 100%;
	}
}
.product__galery_img{
	border: 1px solid #d5d5d5;
	
	width: 100%;
	padding: 20px;
	@media only screen and (min-width : 1200px) {
		height: 350px;
	}
	img{
		max-width: 100%;
		height: auto;
		display: block;
		margin: 0 auto;
	}	
}
.product__galery_slider{
	width: 100%;
	padding: 12px 24px;
	text-align: center;
	a{
		display: inline-block;
		max-width: 125px;
		width: 100%;
		height: 90px;
		border: 1px solid #d7d7d7;
		padding: 5px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.nextright, .prevleft{
		position: absolute;
		top:20px;
		width: 15px;
		height: 51px;
		background-position: center;
		background-repeat: no-repeat;
	}
	.nextright{
		right: -20px;
		background-image: url("../img/galeryright.png");
	}
	.prevleft{
		left: -20px;
		background-image: url("../img/galeryleft.png");
	}

}
.product__galery_slider .product__galerybox-active{
	border: 2px solid #fce325;
}


.product__galery_rightbox{
	// max-width: 554px;
	width: 100%;
	display: inline-block;
	float: right;
	@media only screen and (min-width : 770px) {
		max-width: none;
		width: 45%;
		padding-left: 15px;
	}
	@media only screen and (min-width : 992px) {		
		width: 49%;
		padding-left: 0;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 554px;
		width: 100%;
	}
}
.product__galery_salebox{
	font-family: "ArialRegular";
	margin-bottom: 30px;
	border-left: 5px solid #e9392d;
	padding-left: 18px;
	span{
		color: #666666;		
		font-size: 16px;
		font-weight: 400;
		line-height: 34px;
		display: inline-block;
	}
	h4{
		color: #e9362d;
		font-size: 22px;
		line-height: 34px;		
		font-weight: 400;
	}
	b{
		color: #333333;
		font-size: 16px;
		line-height: 26px;
		font-weight: 400;
		display: inline-block;
		padding-bottom: 6px;
	}
}

.product__galery_saleimg{
	width: 100%;
	margin-bottom: 15px;
	img{
		max-width: 100%;
		height: auto;
	}
}

.product__galery_howpaybox{
	border: 1px dashed #7f7f7f;
	border-left: 0;
	border-right: 0;
	padding: 18px 0;
}
.product__galery_howpay, .product__galery_delivery{
	font-family: "ArialRegular";
	width: 100%;
	@media only screen and (min-width : 992px) {
		max-width: 220px;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 263px;
	}
	>div{
		display: inline-block;
		width: 75px;
		img{
			max-width: 100%;
			height: auto;
		}
	}
	a{
		color: #333;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		display: inline-block;
		width: 155px;
		vertical-align: top;
		padding: 20px 0 0 18px;	
		@media only screen and (min-width : 992px) {
			width: 140px;
			padding: 15px 0 0 10px;
		}
		@media only screen and (min-width : 1200px) {
			width: 175px;
			padding: 20px 0 0 18px;	
		}	
		span{
			border-bottom: 1px dashed #333;
		}
		&:hover{
			span{
				border-bottom: 1px dashed transparent;
			}
		}
	}
}

@media only screen and (min-width : 992px) {
	.product__galery_howpay{
		float: left;
	}
	.product__galery_delivery{
		float: right;
	}
}



.product__galery_buttonsbox{
	padding-top: 24px;
	margin-bottom: 41px;
	font-family: "ArialRegular";
}
.product__galery_buynow,.product__galery_givesale{
	color: #333;
	font-size: 16px;
	font-weight: 400;
	line-height: 47px;
	height: 47px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	padding: 0 22px;
	width: 100%;
	margin-bottom: 10px;
	@media only screen and (min-width : 992px) {
		padding: 0px;	
		width: 49%;
		display: inline-block;
		margin-bottom: 0;
	}
	@media only screen and (min-width : 1200px) {
		padding: 0 52px;	
		width: auto;
		
	}
}
.product__galery_buynow{
	background-color: #fce21c;
	float: left;
	transition:0.4s;
	&:hover{
		transition:0.4s;
		color:#fff;
		background-color: #298fde;
	}
}
.product__galery_givesale{
	background-color: #298fde;
	color: #fff;
	float: right;
	margin-bottom: 15px;	
	transition:0.4s;
	&:hover{
		transition:0.4s;
		color: #333;
		background-color: #fce21c;
	}
}
.product__galery_addtocheck{
	color: #298fde;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	display: block;
	text-align: right;	
	clear: both;
	transition:0.4s;
	span{
		border-bottom: 1px dashed #298fde;
	}
	&:hover{
		transition:0.4s;
		span{ border-bottom-color: transparent; }
	}
}




.product__tabblock{

}
.product__tabslinks{
	border-bottom: 4px solid #fce21c;
	a{
		color: #333;
		font-family: 'Arsenal', sans-serif; 
		font-size: 16px;
		font-weight: 700;
		line-height: 44px;
		display: inline-block;
		padding: 0 30px;
		background-color: white;
		border: 1px solid #d5d5d5;
		border-bottom: 0;
		border-radius: 5px 5px 0 0;
		margin-right: 9px;
	}
	.product__tabactive{
		background-color: #fce21c;
		border-color: transparent;
	}
}


.product__tabbox{
	padding-top: 30px;
	h4{
		font-weight: 700;
		line-height: 18px;
		text-transform: uppercase;
		color: #333;
		font-family: "ArialBold";
		font-size: 14px;
		margin-bottom: 10px;
	}
	.table{
		margin: 0 0 25px 0;
		tr td{
			padding: 0 0px 0 20px;
		}
		@media only screen and (min-width : 1200px) {
			margin: 0 0 55px 0;
		}

	}
}
.product__tab1{
	display: none;
}
.product__tabbox{
	.button.button_blue{
		display: inline-block;
		margin-bottom: 30px;
	}
	.product__commentbox{
		padding: 27px 30px;
		background-color: #dceefc;
		margin-bottom: 24px;
		>div{
			border-bottom: 1px solid #b2d7f3;
		}
		h4{
			color: #333;
			font-family: "ArialBold";
			font-size: 18px;
			font-weight: 700;
			line-height: 18px;
			display: inline-block;
			text-transform: none;
			float: left;
			margin-bottom: 14px;
		}
		span{
			float: right;
			color: #666666;
			font-family: Arial;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
		}
		p{
			color: #333;
			font-family: "ArialRegular";
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			padding-top: 15px;
		}
	}
}

.product__commentform{
	// 
	background-image: url("../img/formbg.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	max-width: 745px;
	border: 3px solid #e3dfd1;
	padding: 22px 94px 22px 94px;
	h3{
		color: #333;
		font-family: 'Arsenal', sans-serif; 
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		text-align: center;
	}
	textarea{
		min-height: 105px;
		margin-top: 18px;
		border: 1px solid #e3e3dc;
		color: #333;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		padding: 10px 17px;
	}
}
.product__commentleft, .product__commentright{
	
	width: 100%;
	display: inline-block;
	@media only screen and (min-width : 770px) {
		max-width: 265px;
	}
	span{
		display: block;
		color: #333;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;	
	}
	input{
		width: 100%;
	}

}
.product__commentleft{
	float: left;
}
.product__commentright{
	float: right;
}