.header_top {
  padding-top: 20px;
  padding-bottom: 12px; }

.header_logo {
  float: left; }
  @media screen and (min-width: 1200px) {
    .header_logo {
      width: 100%;
      max-width: 206px; } }

.header_schedule {
  float: left; }
  @media screen and (min-width: 1200px) {
    .header_schedule {
      width: 100%;
      max-width: 241px;
      margin-left: 90px; } }

.header_phones {
  float: left;
  text-align: right; }
  @media screen and (min-width: 1200px) {
    .header_phones {
      width: 100%;
      max-width: 360px;
      margin-left: 50px; } }

.header_compare {
  float: right; }
  @media screen and (min-width: 1200px) {
    .header_compare {
      width: 100%;
      max-width: 168px;
      margin-left: 25px; } }

.header_menu__list {
  font-size: 0;
  display: none; }
  @media screen and (min-width: 1200px) {
    .header_menu__list {
      display: block; } }

.header_menu__link {
  display: inline-block;
  background-color: #fbd008;
  opacity: 0.95;
  font-family: "Arsenal";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
  padding: 16px 14px; }
  .header_menu__link:hover {
    background-color: #fdec6b;
    transition: .5s; }

.header_menu__link.organisation {
  padding-left: 10px; }

.header_menu__link.contacts {
  padding-right: 22px; }

.header_menu__link.prices {
  padding-left: 10px; }

.header_menu__link.arrowed:after {
  content: '';
  margin-left: 4px;
  margin-bottom: 3px;
  display: inline-block;
  width: 9px;
  height: 6px;
  background: url(/img/main_arrow.png) 0 0 no-repeat; }

.header_menu__link.active_link {
  background-color: #616161;
  color: #fff; }
  .header_menu__link.active_link:after {
    background: url(/img/main_arrow_white.png) 0 0 no-repeat; }

.connector {
  display: none;
  position: absolute;
  height: 5px;
  width: 100%;
  margin-bottom: -5px; }

.header_menu__item {
  display: inline-block; }
  .header_menu__item:nth-child(1) a {
    padding: 16px 10px 16px 20px; }
  .header_menu__item:nth-child(2) a {
    padding: 16px 13px 16px 13px; }
    .header_menu__item:nth-child(2) a:after {
      margin-left: 2px; }
  .header_menu__item:nth-child(3) .header_menu__link {
    padding: 16px 11px 16px 11px; }
  .header_menu__item:nth-child(3):hover .header_submenu, .header_menu__item:nth-child(3):hover .connector {
    display: block; }
  .header_menu__item:nth-child(3) {
    position: relative; }

.header_submenu {
  display: none;
  width: 308px;
  padding: 14px 29px 20px 29px;
  position: absolute;
  top: 55px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(69, 65, 64, 0.35);
  border-bottom: 3px solid #434040;
  z-index: 9999; }

.header_submenu__link {
  display: inline-block;
  font-family: "Arsenal";
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  color: #333; }
  .header_submenu__link:hover {
    color: #298fde;
    transition: .2s; }

.header_submenu__item {
  border-bottom: 1px solid #eeeeee; }
  .header_submenu__item:last-child {
    border: 0; }

.header_schedule__descr {
  font-family: "ArialRegular";
  color: #999;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 20px; }

.header_schedule__time {
  font-family: "ArialRegular";
  color: #333;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400; }

.header_phones__number {
  color: #333;
  font-family: "ArialRegular";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; }
  .header_phones__number span {
    font-family: "ArialBold";
    font-weight: 700;
    line-height: 22px; }

.header_info {
  margin-bottom: 18px; }

.header_compare__callback {
  margin-top: 25px; }

.button.button_blue {
  padding: 9px 17px; }

/*# sourceMappingURL=style-dg.css.map */
